html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Montserrat', 'Bebas Neue', sans-serif;
  background-color: #BFDFDF;
  color: #0D0D0D;
  padding: 0;
  margin: 0 auto;
  min-width: 414px;
  max-width: 1280px;
}

h1,
h2,
h3,
nav a,
nav span,
menu li,
#social li,
footer {
  font-family: 'Bebas Neue', sans-serif;
}

p,
dd,
li,
nav,
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

dt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
}

nav a,
nav span,
menu li,
#social li,
footer {
  font-size: 20px;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding: 10px 0;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

h3 {
  font-size: 25px;
}

p {
  padding: 10px 5px;
}

dl {
  padding: 0 5px;
  display: block;
}

dd {
  padding-left: 15px;
  display: inline-block;
}

ul {
  padding: 0 20px;
  list-style-type: square;
}

ol {
  padding: 0 25px;
}

ul li,
ol li {
  padding: 15px 0 0 10px;
}

footer {
  background-color: #ffffff;
}

nav {
  background-color: #ffffff;
}

aside {
  background-color: #7ABFBF;
  color: #0D0D0D;
}

#recipeimg,
#description,
#share,
#details,
#ingredients,
#directions {
  background-color: #F2F2F2;
  padding-bottom: 20px;
}

main {
  margin-top: 169px;
  background-color: #F2F2F2;
}

#recipeimg img {
  width: 100%;
}

#recommendations section {
  height: 160px;
}

#recommendations h3 {
  position: relative;
  top: 26px;
  left: 130px;
}

#recommendations img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

#recommendations p {
  position: relative;
  top: -70px;
  left: 130px;
  padding: 0 0 10px 0;
}

#recommendations dl {
  position: relative;
  top: -70px;
  left: 130px;
  padding: 0;
}

#recommendations dd {
  display: block;
  padding-left: 0;
}

#recommendations dd span {
  display: none;
}

#share menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px 0 15px 0;
}

#share menu li {
  display: block;
  text-align: center;
}

#share menu li svg {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#share menu li a {
  color: #EB5428;
  text-decoration: none;
  text-align: center;
}

#social {
  padding: 40px 0 0 0;
}

#social ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px 0 15px 0;
}

#social ul li {
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

#social ul li svg {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: -40px;
}

#social ul li a {
  color: #EB5428;
  text-decoration: none;
  text-align: center;
}

section#social > span {
  display: none;
}

#social ul li span {
  position: relative;
  top: 25px;
}

#copyright {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  padding-top: 40px;
}

#copyright span {
  display: block;
  position: relative;
  top: 300px;
}

#copyright img {
  width: 300px;
  position: relative;
  top: -60px;
}

#search {
  background-color: #F2F2F2;
  position: absolute;
  top: 80px;
  text-align: center;
  width: 100%;
  padding: 10px 0 20px 0;
}

#search input {
  height: 45px;
  width: 300px;
  border: 2px solid #EB5428;
  color: #dddddd;
  font-size: 12px;
}

#search button {
  height: 45px;
  width: 50px;
  background-color: #EB5428;
  border: 1.5px solid #EB5428;
  position: relative;
  top: 14px;
  left: -4px;
  cursor: pointer;
}

#search button svg {
  position: relative;
  top: -1px;
  left: -4px;
}


/* Menu Bar */

nav {
  position: absolute;
  top: 0;
  height: 80px;
  background-color: #EB5428;
  width: 100%;
  max-width: 1280px;
  box-shadow: 0px 3px 3px #ababab;
  z-index: 99999;
}

nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 20px;
  display: block;
}

nav label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  user-select: none;
  height: 80px;
  width: 90px;
  padding: none;
  background-color: #ffffff;
}

nav label svg {
  position: relative;
  top: 10px;
  left: 25px;
}

nav label span {
  position: relative;
  top: 30px;
  left: -12px;
}


nav input {
  display: none;
}

nav input:checked~ul {
  max-height: 500px;
}

nav li:first-child span {
  display: none
}

nav li:last-child span {
  color: #000000
}


@media screen and (max-width:767px) {
  nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    background-color: #EB5428;
    margin-top: 0px;
    padding-left: 0;
  }

  nav li {
    display: block;
    margin: 15px 0 0 0;
  }

  nav li:first-child {
    text-transform: capitalize;
    position: absolute;
    top: -5px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
  }

  nav li:last-child {
    text-transform: capitalize;
    position: absolute;
    top: -5px;
    margin: 0 auto;
    right: 0;
    display: block;
    height: 70px;
    width: 90px;
    padding: none;
    background-color: #ffffff;
  }

  nav li:last-child svg {
    stroke: #EB5428;
  }

  nav li:last-child span {
    position: relative;
    left: -5px;
    top: -5px;
  }

.navpoint img {
  display: none;
}

}

@media screen and (min-width:768px) and (max-width: 1279px) {
  nav ul {
    overflow: visible;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    width: 100%;
  }

  nav li:first-child {
    text-transform: capitalize;
    display: block;
  }

  nav li {
    display: block;
    margin: 0 0 0 0;
    text-align: center;
    height: 70px;
    padding: 2px;
  }

  nav li img {
    width: 50px;
  }

  nav li:last-child {
    position: absolute;
    right: 0px;
  }

  nav li:last-child svg {
    stroke: #EB5428;
  }

  nav li:last-child span {
    position: relative;
    top: 20px;
    left: -47px;
  }

  nav li:first-child {
    background-color: #EB5428;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;

  }

  nav li:first-child a {
    padding: 0;

  }

  nav li.navpoint {
    position: relative;
    top: 90px;
    left: 40px;
  }

  nav li.navpoint span {
    position: relative;
    top: 80px;
    color: #EB5428;
    display: block;
  }

  #search {
    top: -8px;
    left: 90px;
    z-index: 99999;
    background-color: #ffffff;
    width: calc(100% - 180px);
    height: 70px;
  }

  #search input {
    position: absolute;
    top: 25px;
    right: 90px;
  }

  #search button {
    position: absolute;
    top: 25px;
    right: 40px;
    left: auto;
  }

  nav {
    height: 220px;
    background-color: #ffffff;
  }

  nav label,
  nav input {
    display: none;
  }

  main {
    margin-top: 223px;
  }

  h1 {
    text-align: left;
    padding: 10px;
  }

  share {
    position: absolute;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.7);
    padding-bottom: 0;
  }

  #details {
    text-align: center;
  }

  #ingdir {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #recogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    height: 370px;
  }

  #social {
    width: 60%;
    position: absolute;
    right: 0px;
  }

  #copyright {
    width: 40%;
    position: absolute;
    left: 0px;
  }

  #copyright img {
    width: 250px;
  }

  #copyright span {
    top: 260px;
  }

}

@media screen and (min-width:1280px) {
  nav {
    box-shadow: 0px 3px 3px #ababab;
    height: 90px;
  }

  nav ul {
    overflow: visible;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 90px;
    padding: 0;
  }

  nav li:first-child {
    text-transform: capitalize;
    display: block;
    background-color: #EB5428;
    height: 87px;
    position: absolute;
    top: 0;
    left: 0;
    width: 88px;
  }

  nav li {
    display: block;
    margin: 0 0 0 0;
    text-align: center;
    height: 80px;
    padding: 2px;
  }

  nav li img {
    width: 45px;
  }

  nav li:last-child {
    position: absolute;
    right: 0px;
    top: 10px;

  }

  nav li:last-child svg {
    stroke: #EB5428;
  }

  nav li:last-child span {
    position: relative;
    top: 20px;
    left: -47px;
  }


  nav li:first-child a {
    padding: 0;
  }

  nav li:first-child svg {
    top: 15px;
    position: absolute;
    left: 15px;
  }

  nav li.navpoint {
    position: relative;
    left: 100px;
    top: -22px;

  }

  nav li.navpoint span {
    position: relative;
    top: 72px;
    color: #EB5428;
    display: block;
  }

  nav label,
  nav input {
    display: none;
  }

  #search {
    max-width: 1280px;
    top: 92px;
  }

  main {
    margin-top: 181px;
  }

  #maingrid {
    display: grid;
    grid-template-columns: 1fr 5fr 7fr;
  }

  #share {
    border: 2px solid #EB5428;
  }

  #share menu {
    display: block;
  }

  #share menu:first-child {
    margin-top: 50px;
  }

  #share menu li {
    margin-bottom: 30px;
  }

  #description p {
    line-height: 150%;
    padding-left: 20px;
    padding-right: 20px;
  }

  #details {
    background-color: #0D0D0D;
  }

  #detals dd,
  #details h2,
  #details dl,
  #details dt {
    color: #7ABFBF;
    display: block;
    text-align: center;
  }

  #detailsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  #details dd {
    padding-left: 0;
  }

  #ingdir {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  #recogrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }

  #recogrid section {
    margin-left: 30px;
  }


  #recommendations {
    height: 520px;
  }

  #recommendations img {
    width: auto;
    height: auto;
  }

  #recommendations h3 {
    top: 300px;
    left: 20px;
  }

  #recommendations p {
    top: 80px;
    left: 20px;
  }

  #recommendations dl {
    top: 80px;
    left: 20px;
  }

  #recommendations dt {
    margin-top: 20px;
  }

  #recommendations dd {
    position: relative;
    top: -30px;
    left: 70px;
  }

  footer {
    height: 260px;
  }

  #social {
    width: 40%;
    position: absolute;
    right: 100px;
  }

  #copyright {
    width: 30%;
    position: absolute;
    left: 0px;
  }

  #copyright img {
    width: 200px;
    left: 10px;
  }

  #copyright span {
    top: 20px;
    left: 170px;
  }

}
